services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: docker-php-app:latest
    volumes:
      - ./:/var/www/html
      - ./php.ini:/usr/local/etc/php/php.ini:ro
    env_file:
      - .env
    environment:
      - COMPOSER_ALLOW_SUPERUSER=1
    depends_on:
      - db

  web:
    image: nginx:stable
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:15
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./docker/initdb:/docker-entrypoint-initdb.d:ro

volumes:
  db_data:
