* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efeff1;
}

/* Grid Layout */
#container {
  font-family: Arial, sans-serif;
  display: grid;
  height: 100vh;
  background-color: #f4f4f4;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

main {
  grid-area: main;
  background-color: #ecf0f1;
  padding: 40px;
  overflow-y: auto;
}

header {
  grid-area: header;
  background-color: #34495e;
  color: white;
  text-align: center;
  height: 60px;
  padding: 10px 0;
}

footer {
  grid-area: footer;
  background-color: #34495e;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #555657;
}

/* User List Styles */
#user-list {
  list-style: none;
  padding-left: 10px;
}

#user-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

#user-list li::before {
  content: "User:";
  color: white;
  background-color: #223b55;
  border: 1px solid #555657;
  border-radius: 4px;
  padding: 2px 6px;
  margin-right: 5px;
}

/* navbar Styles */
nav {
  grid-area: nav;
  color: white;
  padding: 15px;
  background-color: #2c3e50;
}

@media (max-width: 600px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }

  nav {
    padding: 10px 5px 5px 5px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list li {
    display: inline-block;
  }
  .nav-list li::after {
    content: " | ";
    margin: 0 4px;
  }

  .nav-list li:last-child::after {
    content: "";
    margin: 0;
  }
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}
