name: Build and Push Docker 

on:
  push:
    branches: [ main ]

env:
  REGISTRY: docker.io
  IMAGE_NAME: craigschubert/docker-php

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (prod)
        id: meta-prod
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch,suffix=-prod
            type=sha,suffix=-prod
            type=raw,value=prod
            type=raw,value=latest

      - name: Set short SHA tag
        id: set-short-sha
        run: |
          SHORT_SHA="$(echo "${GITHUB_SHA}" | cut -c1-7)"
          SHORT_SHA_TAG="${SHORT_SHA}-prod"
          echo "short_sha_tag=$SHORT_SHA_TAG" >> $GITHUB_OUTPUT

      - name: Build and push prod image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.prod
          push: true
          tags: |
            ${{ steps.meta-prod.outputs.tags }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.set-short-sha.outputs.short_sha_tag }}
          labels: ${{ steps.meta-prod.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Image digest (prod)
        run: |
          echo "Prod image tags: ${{ steps.meta-prod.outputs.tags }}"
